@import url('https://fonts.cdnfonts.com/css/skate-brand');
header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 250vh;
    width: 99vw;
    display: block;
    z-index: -10;
    background-color: black;
}
body::-webkit-scrollbar {
    width: 19px;              
  }
  body::-webkit-scrollbar-track {
    background: black;        
  }
  body::-webkit-scrollbar-thumb {
    background-color: white;    
    border-radius: 20px;      
    border: 3px solid black;  
  }
h1{
    font-family: 'Skate Brand', sans-serif;
    font-weight: 550;
    font-size: 60px;
    text-align: center;
    color: white
}
h2{  
    font-family: 'Skate Brand', sans-serif;
    font-weight: 550;
    font-size: 30px;
    text-align: center;
    color: white
}
p{
    ont-family: 'Skate Brand', sans-serif;
    font-weight: 550;
    font-size: 20px;
    text-align: center;
    color: white
}
ol,ul{
    ont-family: 'Skate Brand', sans-serif;
    font-weight: 550;
    font-size: 20px;
    color: white
}

button{
    ont-family: 'Skate Brand', sans-serif;
    font-weight: 550;
    font-size: 20px;
    color: black
}
p1{
    ont-family: 'Skate Brand', sans-serif;
    font-weight: 550;
    font-size: 20px;
    text-align: center;
    color: white
}
a{
    ont-family: 'Skate Brand', sans-serif;
    font-weight: 550;
    font-size: 20px;
    color: white
}


