header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 250vh;
    width: 100%;
    display: block;
    z-index: -10;
    background-color: black;
}
body::-webkit-scrollbar {
    width: 19px;              
  }
  body::-webkit-scrollbar-track {
    background: black;        
  }
  body::-webkit-scrollbar-thumb {
    background-color: white;    
    border-radius: 20px;      
    border: 3px solid black;  
  }
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 550;
    font-size: 60px;
    text-align: center;
    color: white
}
h2{  
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 550;
    font-size: 30px;
    text-align: center;
    color: white
}
p{
    ont-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 550;
    font-size: 20px;
    text-align: center;
    color: white
}
button{
    ont-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 550;
    font-size: 20px;
    color: black
}
a{
    ont-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 550;
    font-size: 20px;
    color: white
}
.teste{
    background-color: rgb(0, 123, 255);
    color: white;
    padding: 10px 20px;
    border-radius: .25rem;
    border: 0;
    pad: .5rem
    cursor: pointer; /* Altera o cursor ao passar */
    transition: background-color 0.3s; /* Transição suave */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.teste:hover{
    background-color: rgb(0, 86, 179);

}


